@import '../../../shared/styles/app-colors.scss';

.navbar-contetn{
    width: 100%;
    height: 100%;
    background-color: $first;
    border-bottom: .5px grey solid;

    -webkit-box-shadow: 0px 6px 106px -17px rgba(0,0,0,1);
    -moz-box-shadow: 0px 6px 106px -17px rgba(0,0,0,1);
    box-shadow: 0px 6px 106px -17px rgba(0,0,0,1);

    img{
        height: 38px;
    }

    .navbarItems{
        text-align: right;

        a{
            cursor: pointer;
            padding: 5px 20px;
            color: black;
            text-decoration: none;
            &:hover{
                color: rgb(64,93,230);
                transition: .3s;
            }
        }
    }
}

.row{
    margin: 0;
}