.landing-content{
    color: white;
    width: 100%;
    .landing-first{
        margin: 50px auto;
        width: 95%;
        .main-img{
            width: 50%;
            float: left;
        }
        .main-text{
            float: left;
            padding: 15% 10%;
            width: 40%;
            font-size: 36px;
            line-height: 1;
        }
    }
}