.all, body, html, app-root, app-login{
	width: 100%;
	height: 100%;
	padding: 1px 0;
	background: rgb(64,93,230);
	background: linear-gradient(90deg, rgba(64,93,230,1) 0%, rgba(225,48,108,1) 100%);
}

.panel{
	width: 600px;
	height: 350px;
	margin: 100px auto;
	background-color: whitesmoke;
	padding: 30px;
	border-radius: 15px;
	.half-panel{
		width: 50%;
		float: left;
	}
	.login-main{
		text-align: center;
		font-weight: 500;
		font-size: 36px;
	}
	.login-button{
		width: 100%;
		height: 100%;
		display: grid;		   
		button{
			height: 80px;
			width: 80px;
			margin: 20px;
			font-size: 30px;
			border-radius: 15px;
			margin-left: auto;
			margin-right: auto;
			position: relative;
			top: 50%;

			.fa-facebook{
				color: #4267B2;
			}
			&:hover .fa-facebook, &:hover .fa-google{
				color: black;
				transition: .7s;
			}
			.fa-google{
				color: #4285F4;
			}
		}
	}
}