<div class="panel">
	<div *ngIf="auth.user$ | async as user; else login">
		<button (click)="auth.signOut()">Wyloguj</button>
		<button routerLink='/panel'>Wróć do panelu</button>
	</div>

	<ng-template #login>
		<div class="login-main">Zaloguj się za pomocą google</div>
		<div class="login-button container">
			<button (click)="auth.googleSignin()" class="col-4"><i class="fa fa-google"></i></button>
			<button (click)="auth.facebookSignin()" class="col-4"><i class="fa fa-facebook"></i></button>
		</div>	
	</ng-template>
</div>