<p>login works!</p>
<div class="panel">
	<div *ngIf="auth.user$ | async as user; else login">
		{{ user | json}}
		<hr>
		<button (click)="auth.signOut()"></button>
	</div>

	<ng-template #login>
		<button (click)="auth.googleSignin()">google</button>
	</ng-template>

	<form [formGroup]="loginForm" name="loginForm">
		<input type="text" formControlName="login" placeholder="nazwa użytkownika" name="login" id="login">
		<p *ngIf="loginForm.errors">xdd</p>
		<input type="password" formControlName="password" placeholder="hasło">
	</form>
	<button (click)="test()" routerLink="/panel">Login</button>
</div>