#card-element{
  width: 400px;
}
.card {
  max-width: 600px;
  float: left;
  margin: 40px;
}
.card-action{
  border: 0;
  text-align: center;
  margin: 10px;
  background: transparent;
  font-weight: 400;
  text-transform: uppercase;
  transition: .2s;
  padding: 5px;
  &:hover{
    background-color: rgb(231, 231, 231);
    border-radius: 5px;
  }
}
table{
  margin: auto;
  width: 80%;
  text-align: center;
  tr{
    border-bottom: 1px solid black;
    line-height: 3;
  }
}
.clear{
  clear: both;
}
