$first: #E63946;
$second: #F1FAEE;
$third: #A8DADC;
$fourth: #457B9D;
$fifth: #1D3557;

/*$first: #7400B8;
$second: #6930C3;
$Third: #5E60CE;
$fourth: #5390D9;
$fifth: #4EA8DE;
$sixth: #48BFE3;
$seventh: #56CFE1;
$eighth: #64DFDF;
$ninth: #72EFDD;
$tenth: #80FFDB;*/