<div class="landing-content">
	<div class="landing-first">
		<p class="main-text">
			Znudziło ci się trzymanie paragonów?
		</p>
		<img src="/assets/img/paragon.gif" alt="" class="main-img">
	</div>
	<div class="clear"></div>
	<div class="arrow">
		<a href="#section1">
			<div class="next-step">
				<i class="fa fa-arrow-down"></i>
			</div>
		</a>
	</div>
</div>	

<span id="section1"></span>
<div class="double-postcard" >
	<a routerLink="/personal">
		<div class="left-postcard">
			<div class="module-inside">
				<h1 class="header-text">Osobisty</h1>
				<p class="paragraph-text">Zobacz jakie funckję możesz zyskać w wersji dla ciebie</p>
			</div>
		</div>
	</a>
	<div class="right-postcard" routerLink="/business">
		<div class="module-inside">
			<h1 class="header-text">Firmowy</h1>
			<p class="paragraph-text">Zobacz jakie funckję możesz zyskać w wersji dla twojej firm</p>
		</div>
	</div>
</div>

<div class="section2">
	<br>
	<h1 class="section-header">Wiele wspaniałych funkcji</h1>
	<p class="section-text">tu funkcje patrz jakie fajne</p>
	<div class="function-grid">
		<div class="grid-item">
			<div class="centering">
				<i class="fa fa-money"></i>
				<h1>Paragony w każdym miejscu na ziemi</h1>
				<p>Sprawdź jakie to jest proste</p>
			</div>
		</div>
		<div class="grid-item">
			<div class="centering">
				<i class="fa fa-rss"></i>
				<h1>Paragony w każdym miejscu na ziemi</h1>
				<p>Sprawdź jakie to jest proste</p>
			</div>
		</div>
		<div class="grid-item">
			<div class="centering">
				<i class="fa fa-tasks"></i>
				<h1>Paragony w każdym miejscu na ziemi</h1>
				<p>Sprawdź jakie to jest proste</p>
			</div>
		</div>
		<div class="grid-item">
			<div class="centering">
				<i class="fa fa-file"></i>
				<h1>Paragony w każdym miejscu na ziemi</h1>
				<p>Sprawdź jakie to jest proste</p>
			</div>
		</div>
		<div class="grid-item">
			<div class="centering">
				<i class="fa fa-rocket"></i>
				<h1>Paragony w każdym miejscu na ziemi</h1>
				<p>Sprawdź jakie to jest proste</p>
			</div>
		</div>
		<div class="grid-item">
			<div class="centering">
				<i class="fa fa-thumbs-up"></i>
				<h1>Paragony w każdym miejscu na ziemi</h1>
				<p>Sprawdź jakie to jest proste</p>
			</div>
		</div>
	</div>
</div>

<div class="landing-benefits">

</div>
<landing-footer></landing-footer>