.receipts{
    float: left;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    .receipt{
        text-align: center;
        width: 85%;
        height: 85%;
        margin: 7.5%;
        padding: 10px;
        border-radius: 20px;
        background-color: white;
    }
}