/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: hsla(282, 89%, 70%, 1);
    background: linear-gradient(225deg, hsla(282, 89%, 70%, 0.9) 0%, hsla(187, 100%, 69%, 1) 100%);
    background: -moz-linear-gradient(225deg, hsla(282, 89%, 70%, 0.9) 0%, hsla(187, 100%, 69%, 1) 100%);
    background: -webkit-linear-gradient(225deg, hsla(282, 89%, 70%, 0.9) 0%, hsla(187, 100%, 69%, 1) 100%);
}